.git
.gitignore
.gitattributes
.DS_Store
.idea
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
venv
__pycache__
.env
.mypy_cache
.pytest_cache
.hypothesis
.github
README.md
LICENSE
.vscode
docker-compose.example.yml
examples/
audiobook_output/
private_examples/
tests
