.git
.gitignore
.gitattributes
.DS_Store
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
venv
__pycache__
.env
.mypy_cache
.pytest_cache
.hypothesis
README.md
LICENSE
examples/
audiobook_output/
