# Be sure to replace <your_subscription_key> and <your_region> with your actual
# Azure Text-to-Speech API credentials. Also, replace your_book.epub with the
# name of your EPUB file, and audiobook_output with the name of the directory
# where you want to save the output files.

# After creating and saving the `docker-compose.yml` file, run the
# `docker-compose up` command in the same directory to pull the image and start
# the conversion process.

# You can then try to modify volumes to fit your need.

services:
  piper:
    image: lscr.io/linuxserver/piper:latest
    container_name: piper
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - PIPER_VOICE=en_US-norman-medium
      - PIPER_LENGTH=1.0 # optional
      - PIPER_NOISE=0.667 # optional
      - PIPER_NOISEW=0.333 # optional
      - PIPER_SPEAKER=0 # optional
      - PIPER_PROCS=1 # optional
    volumes:
      # - /path/to/piper/data:/config
      - /Users/allennikka/Developer/epub_to_audiobook/piper_models:/usr/share/piper_models # Volume for Piper models
    ports:
      - 10200:10200
    restart: unless-stopped

  epub_to_audiobook:
    build:
      context: ./ # Directory containing the Dockerfile for epub_to_audiobook
      dockerfile: Dockerfile # Name of the Dockerfile (if it's not the default 'Dockerfile')
    container_name: epub_to_audiobook
    environment:
      - TTS_PROVIDER=piper_docker
      - PIPER_HOST=piper
      - PIPER_PORT=10200
    volumes:
      - ./:/app
      - /Users/allennikka/Calibre Library:/calibre_library # Map the Calibre Library directory

    command: "--tts piper_docker --no_prompt '/calibre_library/Erick Ries/The Lean Startup Erick Ries (15)/The Lean Startup Erick Ries - Erick Ries.epub' audiobook_output --chapter_start 1 --chapter_end 2"
    depends_on:
      - piper
